.container {
    display: flex;
    justify-content: space-around;
    justify-items: space-around;
    width: 1000px;
    flex-direction: column;

}

#grid {
    margin-left: 20%;    
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    padding: 10px;
    border-style: solid;
    width:fit-content;
    padding: 0;
    
}

#item {
    width:25px;
    height:25px;
    background-color: white;
    
}

#itemHovered {
    width: 25px;
    height: 25px;
    background-color: black;

}

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20%;
}